$font-family-primary:'Source Code Pro', monospace;
$font-family-secondary: 'Roboto', sans-serif;

$font-size-h1: 3rem;
$font-size-h2: 2.25rem;
$font-size-h3: 1.5rem;

$font-weight-reg: 300;
$font-weight-bold: 900;

$clr-dark: rgb(31, 31, 31);
$clr-white: rgb(255, 255, 255);
$clr-accent: rgb(13, 241, 253);;

$box-shadow:  0.25em 0.25em 0.75em rgba(0,0,0,.25),
              0.125em 0.125em 0.25em rgba(0,0,0,.15);